#header nav {
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
}

#header nav li a {
  color: black;
  margin-bottom: 33px;
  margin-top: 33px;
}

#header nav li:hover {
  color: #871642;
  font-weight: 700;
  transition: 0.2s;
}

#header nav .navbar-header a {
  color: black;
  font-weight: 800;
}

#header nav .navbar-header a img {
  width: 100px;
  height: 89px;
}

#header nav .navbar-right {
  margin-bottom: 33px;
  margin-top: 33px;
}

#header nav .navbar-right .btn {
  background: none !important;
  font-size: 24px;
}

#footer {
  background-color: #4d4d4d;
  margin-top: 500px;
}

#footer img {
  width: 75%;
  margin: 50px 0px 50px 0px;
}

#footer #menu_footer {
  margin-top: 90px;
}

#footer #menu_footer li {
  display: inline;
}

#footer #menu_footer li a {
  text-decoration: none;
  color: #aaaaaa;
  margin-right: 40px;
}

.sidebar {
  margin-top: 150px;
}
