#footer{
	background-color: #4d4d4d;
	margin-top: 500px;
	img{
		width: 75%;
		margin: 50px 0px 50px 0px;
	}
	p{
			margin: 30px 0px 0px 40px;
			color: #aaaaaa;
		}
	#menu_footer{
		margin-top: 90px;
		li{
			display: inline;
			a{
				text-decoration: none;
				color: #aaaaaa;
				margin-right: 40px;
				&:hover{
					color: grey;
				}
			}
		}
	}
	.rs_footer{
		i{
			margin-right: 20px;
			margin-top: 80px;
			color: #aaaaaa;
		}
	}
}