#footer{
	background-color: #4d4d4d;
	margin-top: 500px;
	img{
		width: 75%;
		margin: 50px 0px 50px 0px;
	}
	#menu_footer{
		margin-top: 90px;
		li{

			display: inline;
			a{
				text-decoration: none;
				color: #aaaaaa;
				margin-right: 40px;
			}
		}
	}
	#rs_footer{

	}
}